.theme-dark:not(html.custom-theme-background, :has(#clientThemeVars)) {
	--background-base-low: var(--background-primary);
	--background-base-lower: var(--background-primary);
	--background-base-lowest: var(--background-secondary);
	--bg-base-tertiary: var(--background-tertiary);
	--custom-channel-members-bg: var(--background-secondary);
	--background-mod-subtle: var(--background-modifier-hover);
	--bg-brand: var(--blurple);
	--modal-footer-background: color-mix(in oklab, var(--primary-630) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
	--checkbox-background-checked: var(--blurple);
	--text-normal: color-mix(in oklab, var(--primary-230) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
	--__spoiler-background-color--hidden: var(--primary-700);
    --__spoiler-background-color--hidden--hover: hsl(var(--primary-700-hsl)/0.8);
    --__spoiler-background-color--revealed: hsl(var(--white-500-hsl)/0.1);
    --__spoiler-text-color--hidden: transparent;
    --__spoiler-warning-text-color: var(--primary-200);
    --__spoiler-warning-text-color--hover: var(--white-500);
    --__spoiler-warning-background-color: hsl(var(--black-500-hsl)/0.6);
    --__spoiler-warning-background-color--hover: hsl(var(--black-500-hsl)/0.9);
    --__spoiler-container-box-shadow-color: hsl(var(--black-500-hsl)/0.1);
}

/* remove the title bar on web & linux */
.platform-web, .platform-linux {
	.base_c48ade {
		grid-template-areas: "titleBar titleBar titleBar" "notice notice notice" "guildsList channelsList page";
		grid-template-rows: [top] 0px [titlebarEnd] min-content [page] 0px [end] !important;
	}
	.bar_c38106 .title_c38106 {
		display: none;
	}
	.bar_c38106 .trailing_c38106 {
			top: 33px !important;
	}
	.scroller_ef3116 {
		padding-top: 2px !important;
	}
}
:is(.platform-win) .sidebarListRounded_c48ade {
	border-top-left-radius: 8px !important;
}
#app-mount .h5_b717a1.eyebrow_b717a1 {
    text-transform: uppercase !important;
}

.visual-refresh {
	/*servers and channels*/
	.childWrapperNoHoverBg__6e9f8 {
		background-color: var(--background-primary);
	}
	.sidebarListRounded_c48ade {
		border-top-left-radius: unset;
	}
	
	.panels_c48ade {
		display: flex;
		width: 241px;
		flex-direction: column;
		border: none;
		border-radius: 0;
		background: var(--background-secondary-alt);
	}
	.menu_c1e9c4, .option__3f413, .popout__3f413 {
		background: var(--background-floating);
	    box-shadow: var(--shadow-high);
	    border-radius: 4px;
		border: none;
	}
	.scroller_c1e9c4, .labelContainer_c1e9c4 {
		padding: 6px 8px;
	}
	.wrapper_f563df {
		gap: unset;
		padding: 4px 0 6px 2px;
		.button_f563df {
			border-radius: 50%;
			width: 32px;
		    height: 32px;
		    padding: 4px;
		}
	}
	.item_c1e9c4 {
	    box-sizing: border-box;
	    margin: 2px 0;
	}
	.colorDefault_c1e9c4 .label_c1e9c4 {
		color: unset;
	}
	.colorDefault_c1e9c4:active:not(.hideInteraction_c1e9c4) {
		background-color: var(--menu-item-default-active-bg);
	}
	.colorDefault_c1e9c4.focused_c1e9c4 {
		border-radius: 2px;
	}
	.colorDanger_c1e9c4, .colorDanger_c1e9c4 .checkbox_c1e9c4, .colorDanger_c1e9c4 .radioSelection_c1e9c4 {
		color: var(--status-danger);
	}
	.colorDanger_c1e9c4.focused_c1e9c4 {
	    color: var(--white);
	}
	.colorDefault_c1e9c4.focused_c1e9c4:not(.checkboxContainer_c1e9c4) path {
	    fill: var(--white);
	}
	.iconContainer_c1e9c4 {
		width: 18px;
		height: 18px;
	}
	.separator_c1e9c4 {
		margin: 4px;
	}
	.iconContainer_c1e9c4 {
		svg.radioIcon_c1e9c4 {
			width: 16px;
			height: 16px;
			margin-top: 2px
		}
		.refreshIconFill__001a7 {
			fill: transparent;
			stroke: white;
			stroke-width: 2;
			r: 10;
		}
		.refreshIconStroke__001a7 {
			stroke-width: 0;
		}
		.refreshIcon__001a7 {
			fill: var(--blurple);
			r: 6
		}
	}
	.caret_c1e9c4 {
		width: 16px;
		height: 16px;
	}
	.buttons__37e49 {
		gap: 1px;
	}
	
	.listItem__650eb {
		width: 80px;
	}
	.wrapper_cc5dd2,
	.childWrapper__6e9f8,
	.icon__6e9f8 {
		width: 50px;
		height: 50px;
	}
	.wrapper_cc5dd2 > .svg_cc5dd2 {
		inset: auto;
		contain: none;
	}
	.wrapper_cc5dd2 > .svg_cc5dd2 foreignObject {
		mask: none;
		overflow: visible;
		x: -4;
		y: -4;
	}
	.wrapper_cc5dd2 > .svg_cc5dd2 foreignObject[width="48"] {
		x: 0;
		y: 0;
	}
	.wrapper_cc5dd2 .wrapper__6e9f8 {
		width: 50px;
		height: 50px;
		border-radius: 25px;
		overflow: hidden;
		transition: border-radius 0.2s ease;
	}
	.wrapper__6e9f8.selected__6e9f8 {
		border-radius: 15px !important;
	}
	.outer_bf1984 {
		background: var(--background-tertiary);
	}
	.outer_bf1984.interactive_bf1984:hover {
		background-color: var(--primary-800);
	}
	.header_f37cb1 {
		border: unset;
		box-shadow: var(--shadow-ledge);
	}
	.container__9293f {
		border: unset;
		box-shadow: var(--shadow-ledge);
	}
	.title_f75fb0 {
			padding-left: 8px;
		}
	.lookLink__201d5.colorPrimary__201d5 {
		color: var(--text-normal);
	}
	/* Emojis/GIF Picker */
	.drawerSizingWrapper__08434 {
		right: 0px !important;
	}
	.contentWrapper__08434 {
	    background-color: var(--background-secondary);
	    border-radius: 8px;
	    box-shadow: var(--shadow-border), var(--shadow-high);
		border: unset;
	}
	.header_fed6d3, .soundboardHeader__08434 {
		background-color: var(--background-secondary);
	    box-shadow: var(--shadow-ledge);
		border-bottom: unset;
	}
	.emojiPicker_c0e32c {
		background-color: var(--background-secondary);
		box-shadow: var(--shadow-border), var(--shadow-high);
		border-bottom-right-radius: var(--custom-emoji-picker-border-radius);
		border-bottom-left-radius: var(--custom-emoji-picker-border-radius);
		grid-template-columns: 48px auto;
		grid-template-rows: auto 1fr auto;
		height: var(--custom-emoji-picker-constants-emoji-picker-height);
		width: var(--custom-emoji-picker-constants-min-emoji-picker-width);
	}
	.emojiPickerHasTabWrapper_c0e32c .emojiPicker_c0e32c {
	    background-color: transparent;
	    border-bottom-right-radius: 0;
	    border-bottom-left-radius: 0;
	    box-shadow: none;
	    flex: 1 1 auto;
	    grid-template-rows: auto 1fr auto;
	    height: 100%;
	    width: auto;
	}
	.categoryList_c0e32c {
		top: 58px;
	}
	.expressionPickerCategoryList_a1e0e0 {
		top: 50px;
	}
	.inspector_aeaaeb {
		background-color: var(--background-secondary-alt);
		border-top: unset;
	}
	.emojiPickerHasTabWrapper_c0e32c .categoryList_c0e32c {
		top: 50px;
	}
	.unicodeShortcut_b9ee0c {
		box-sizing: unset;
		border-top: unset;
	}
	.wrapper__14245 {
		background-color: var(--background-secondary);
	}
	.wrapper__4e6ce {
		background-color: var(--background-tertiary);
	}
	.header_c0e32c {
		background-color: var(--background-secondary);
		box-shadow: var(--shadow-low);
		margin: 0 -1px;
		padding: 12px;
		border-bottom: unset;
	}
	.childContainer__91a9d {
		padding: 2px 0
	}
	.clickable__9293f .icon__9293f {
		color: var(--interactive-normal);
	}
	/* channel menus */
	.header__45690 {
		background: var(--background-tertiary);
		border-bottom: 2px solid var(--background-modifier-accent);
	}
	.messagesPopoutWrap__45690 {
		background-color: var(--background-secondary);
		border-radius: 8px;
		max-height: 91vh !important;
	}
	.messageGroupWrapper__45690 {
		border: 1px solid var(--background-tertiary);
	    border-radius: 4px;
	    -webkit-user-select: none;
		background: var(--background-primary);
	    margin-right: unset;
	}
	.searchHeader_f3b986 {
		background: var(--bg-overlay-chat);
	    height: 48px;
	    padding: 0 20px;
		border: unset;
	}
	.content__49fc1 {
		padding-top: unset;
	}
	.root__49fc1 {
		border: none;
	}
	.rootWithShadow__49fc1 {
	    box-shadow: var(--legacy-elevation-border), var(--legacy-elevation-high);
	}
	
	
	/* tab bars */
	.item_b3f026 {
	    position: relative;
	    font-size: 16px;
	    line-height: 20px;
	    cursor: pointer;
	    font-weight: 500;
	}
	.tab_f8303a {
	    display: flex;
	    flex-shrink: 1;
	    align-items: center;
	    gap: var(--spacing-8);
	    padding-bottom: var(--spacing-12);
	}
	.brand_b3f026.item_b3f026:hover, .themed_b3f026.item_b3f026:hover {
	    color: var(--interactive-hover);
	}
	 .top_b3f026 .item_b3f026 {
		margin-bottom: unset;
	}
	.top_b3f026 .item_b3f026.selected_b3f026 {
		cursor: default;
	    color: var(--interactive-active);
	}
	/* header text in DMs */
	.titleWrapper__9293f > .defaultColor__5345c.text-md\/medium_cf4812 {
		text-transform: unset !important;	
	}
	/* call background */
	.root_bfe55a {
		background: unset;
	}
	
	/*buttons*/
	.button__201d5:not(.cta_a3a802, .colorRed__201d5) {
		border: unset;
	}
	.item_b3f026 {
		transition: none !important;
	}
	:is(.sidebar__23e6b) .selected_b3f026.item_b3f026 {
		background: var(--background-modifier-selected) !important;
	}
	:is(.sidebar__23e6b) .side_b3f026 .themed_b3f026.item_b3f026:hover:not(.disabled_b3f026) {
		background-color: var(--background-modifier-hover);
	}
	:is(.sidebar__23e6b) .selected_b3f026.item_b3f026:hover {
		color: var(--text-primary);
	}
	.topPill_b3f026 .item_b3f026 {
		border-radius: 4px;;
	    margin: 0 8px;
	    padding: 2px 8px;
	    min-height: unset;
	}
	.searchBar__35e86 {
		border-bottom: unset;
		box-shadow: var(--elevation-low);
	}
	.searchBar__35e86 .grow__201d5.fullWidth__201d5.sizeSmall__201d5.colorPrimary__201d5.lookFilled__201d5.button__201d5 {
		width: 100%;
	    height: 28px;
		min-height: unset;
	    overflow: hidden;
	    border-radius: 4px;
	    background-color: var(--background-tertiary);
	    box-shadow: none;
		.contents__201d5 {
			width: 100%;
		    color: var(--text-muted);
		    text-align: left;
		    text-overflow: ellipsis;
		    font-size: 14px;
		    font-weight: 500;
		    line-height: 24px;
		    white-space: nowrap;
		}
	}
	.wrapper_f7ecac:not(.popover_c97e55) {
		box-shadow: var(--elevation-stroke);
		background: var(--background-primary);
	}
	.toolbar__9293f {
		gap: unset;
		padding-left: unset;
	}
	.iconBadgeBottom__9293f {
		right: 2px;
		bottom: 0;
		--custom-icon-offset: unset;
	}
	.navButton__08434 {
		border-radius: 4px;
	    color: var(--interactive-normal);
	    font-size: 16px;
	    font-weight: 600;
	    line-height: 20px;
	    padding: 2px 8px;
	    transition: background-color .1s ease-in-out, color .1s ease-in-out;
	}
	.navButtonActive__08434 {
		color: var(--interactive-active);
	    background-color: var(--background-modifier-selected);
	}
	.navButton__08434:hover {
	    color: var(--interactive-hover);
	    background-color: var(--background-modifier-hover);
	}
	button.button__67645.enabled__67645:hover {
		background-color: var(--background-modifier-selected);
	}
	.container__87bf1.checked__87bf1 {
		border: none;
	}
	button.button__67645, .visual-refresh span.button__67645 {
		transition: none;
	}
	/* search bar(s) */
	.medium_a45028 {
		height: unset;
		.inner_a45028 {
			padding: 1px;
			.input_a45028 {
				padding: 0 8px;
				line-height: 32px;
				margin: 1px;
			}
			.iconLayout_a45028 {
				width: 32px;
			    height: 32px;
			}
		}
	}
	.container_a45028 {
		border: none;
		background-color: var(--background-tertiary);
	}
	.search__49676 {
		margin: 0 8px;
	}
	.searchBar__97492 {
		background: var(--bg-overlay-3, var(--background-tertiary));
		padding: 0 2px;
		height: 24px;
	    width: 144px;
	    border-radius: 4px;
		border: none;
		margin-right: 80px;
		.DraftEditor-root {
			padding: 2px 0;
		    line-height: 20px;
		}
	}
	.container__55c99 {
		box-shadow: var(--shadow-border), var(--shadow-high);
		border-radius: 3px;
		border: none;
		background: var(--bg-overlay-3, var(--background-primary));
	}
	.container_fea832 {
		background-color: var(--background-tertiary);
		border-radius: 4px;
		border: none;
	}
	.searchResult__02a39 {
		border: solid 1px var(--background-tertiary);
	}
